.data {
    font-family: 'Abyssinica SIL', serif;
    padding: 15px;
}
section{
    background-color: rgba(51, 51, 51, 0.753);
    margin: 20px 0px;

    h2{
    color: white;
    text-align: center;
}
.scroll{
    padding: 10px;
    display: flex;
    overflow: auto;
    gap: 10px;
    h2{
        color: $color-primario
    }
}
}