.data {
    font-family: 'Abyssinica SIL', serif;
    padding: 15px;
    font-size: 1.25rem;
    text-align: center;
    &__base{
        font-size: 1.75rem;
    }
}
section{


    h2{
    color: $color-primario;
    text-align: center;
}
.galeria{
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h2{
        color: $color-primario
    }
}
}

