.data {
    font-family: 'Abyssinica SIL', serif;
    padding: 15px;
    font-size: 1.25rem;
    text-align: center;
    &__base{
        font-size: 1.75rem;
    }
}
section{
    background-color: rgba(0, 0, 0, 0.261);
    margin: 20px 0px;

    h2{
    color: $color-primario;
    text-align: center;
}
.scroll{
    padding: 10px;
    display: flex;
    overflow: auto;
    gap: 10px;
    h2{
        color: $color-primario
    }
}
}
