.titulo-de-contacto {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.261);
    color: $color-primario;
    margin: 20px 20px;
}

.contacto {
    width: auto;
    display: flex;
    flex-direction: column;
    p{
        margin: 20px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .form {
        color: $color-primario;
        width: auto;
        display: flex;
        flex-direction: column;


        .formulario {
            width: auto;
            height: auto;
            background-color: $color-secundario;
            margin: 20px;
            padding: 10px;
        }

        .formulario__tipodeconsulta {
            display: flex;
            flex-direction: column;
        }

        .formulario__campos {
            margin: 10px;
        }
    }

    .mapa {
        margin: 20px;
        align-items: center;
        text-align: center;

        iframe {
            width: 85%;
            height: 85vw;
        }
    }
}

@media (min-width: 768px) {
    .contacto {
        align-items: center;

        .form {
            width: 75vw;
        }

        .mapa {
            iframe {
                width: 600px;
                height: 450px;
            }
        }
            p {
                width: 85%;
                padding: 15px;
                font-weight: 600;
            }
        
    }
}

@media (min-width: 1200px) {
    .contacto {
        display: grid;
        grid-template-columns: 2, 1fr;
        grid-template-rows: 4, 1fr;

        .form {
            width: 45vw;
            grid-column: 1/2;
            grid-row: 1/5;
        }
    
}
    .mapa {
        width: 80%;
        grid-column: 2/3;
        grid-row: 1/4;

        iframe {
            width: 75%;
            height: auto;
        }
    }
}