.header__form {
    display: none;
}


.formulario {
    label {
        font-size: 1.2rem;
    }

    p {
        color: $color-primario;
        font-size: 1.4rem;
    }

    input {
        color: $color-primario;
        font-size: 1.1rem;
    }

    label {
        color: $color-primario;
    }

    textarea {
        color: $color-primario;
        resize: none;
        width: 100%;
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .header__form {
        display: block;
        grid-column: 7/8;
        margin-top: 5px;

        form {
            display: inline;
            position: relative;

            input {
                border-radius: 5px;
            }
        }

        .btn-submit {
            position: absolute;
            right: 4px;
        }
    }
}
