.btn{
    color: $color-primario;
    font-size: 1.25rem;
    border: solid 2px $color-primario;
    background-color: wheat;
    padding: 5px;
    border-radius: 10px;
}
.btn:hover{
    color: $color-secundario;
    background-color: $color-primario;

}

.btn-submit{
    background-image: url(../../herramientas/img/buscar.png);
    width: 25px;
    background-size: 20px;
    background-repeat: round;

}