.btn{
    color: rgb(51, 51, 51);
    font-size: 1.25rem;
    border: solid 2px rgb(51, 51, 51);
    background-color: wheat;
    padding: 5px;
    border-radius: 10px;
}

.btn-submit{
    background-image: url(../../herramientas/img/buscar.png);
    width: 25px;
    background-size: 20px;
    background-repeat: round;

}